.carheight {
    width: 275px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

.carheight2 {
    width: 275px;
    height: 300px;
    margin-left: 200px;
    margin-bottom: 0px;
}

.arrows {
    color: black;
}

.carsize {
    margin-left: auto;
    margin-right: auto;
}

.carouselSize {
    width: 1400px; 
    margin-left: auto; 
    margin-right: auto;
}

.arrowMargin {
    margin-left: 100px;
}

.arrowMarginRight {
    margin-right: 100px;
}

