<p class="fw-bold fs-1 text-center">May We Suggest</p>

<div id="carouselExampleDark" class="carousel carousel-dark slide bg-white" data-bs-ride="carousel">
    <div class="carousel-inner carouselSize">
      <!--first slide-->
      <div class="carousel-item active">
        <div class="card-group">
          <div class="card border-light">
            <img src="/assets/oldskool_shoes_slide1.png" class="card-img-top carheight" alt="...">
            <div class="card-body">
              <p class="card-text text-black text-center">Old Skool</p>
              <p class="card-text text-danger text-center fw-bold">$65.00</p>
            </div>
          </div>
          <div class="card border-light">
            <img src="/assets/skatehall92_slide1.png" class="card-img-top carheight" alt="...">
            <div class="card-body">
              <p class="card-text text-black text-center">Skate Half Cab '92</p>
              <p class="card-text text-danger text-center fw-bold">$75.00</p>
            </div>
          </div>
          <div class="card border-light">
            <img src="/assets/cardshirt_slide1.png" class="card-img-top carheight" alt="...">
            <div class="card-body">
              <p class="card-text text-black text-center">Peace & Luck T-Shirt</p>
              <p class="card-text text-danger text-center fw-bold">$24.50</p>
            </div>
          </div>
          <div class="card border-light">
            <img src="/assets/leggings_slide1.png" class="card-img-top carheight" alt="...">
            <div class="card-body">
              <p class="card-text text-black text-center">Checkmate Legging</p>
              <p class="card-text text-danger text-center fw-bold">$39.50</p>
            </div>
          </div>
        </div>
      </div>
      <!--second slide-->
      <div class="carousel-item">
        <div class="card-group">
          <div class="card border-light">
            <img src="/assets/crockett_high.png" class="card-img-top carheight" alt="...">
            <div class="card-body">
              <p class="card-text text-black text-center">Crockett High</p>
              <p class="card-text text-danger text-center fw-bold">$80.00</p>
            </div>
          </div>
          <div class="card border-light">
            <img src="/assets/authentic_chino_slim_pant.png" class="card-img-top carheight" alt="...">
            <div class="card-body">
              <p class="card-text text-black text-center">Authentic Chino Slim Pant</p>
              <p class="card-text text-danger text-center fw-bold">$54.50</p>
            </div>
          </div>
          <div class="card border-light">
            <img src="/assets/slip_on.png" class="card-img-top carheight" alt="...">
            <div class="card-body">
              <p class="card-text text-black text-center">Slip-On</p>
              <p class="card-text text-danger text-center fw-bold">$55.00</p>
            </div>
          </div>
          <div class="card border-light">
            <img src="/assets/rena_long_sleeve_BFF_tee.png" class="card-img-top carheight" alt="...">
            <div class="card-body">
              <p class="card-text text-black text-center">Rena Long Sleeve BFF Tee</p>
              <p class="card-text text-danger text-center fw-bold">$29.50</p>
            </div>
          </div>
        </div>
      </div>
      <!--third slide-->
      <div class="carousel-item">
        <div class="card-group">
          <div class="card border-light">
            <img src="/assets/black_slip_on.png" class="card-img-top carheight" alt="...">
            <div class="card-body">
              <p class="card-text text-black text-center">Slip-On</p>
              <p class="card-text text-danger text-center fw-bold">$55.00</p>
            </div>
          </div>
          <div class="card border-light">
            <img src="/assets/skate_authentic.png" class="card-img-top carheight" alt="...">
            <div class="card-body">
              <p class="card-text text-black text-center">Skate Authentic</p>
              <p class="card-text text-danger text-center fw-bold">$60.00</p>
            </div>
          </div>
          <div class="card border-light">
            <img src="/assets/authentic_chino_slim_pant2.png" class="card-img-top carheight" alt="...">
            <div class="card-body">
              <p class="card-text text-black text-center">Authentic Chino Slim Pant</p>
              <p class="card-text text-danger text-center fw-bold">$54.50</p>
            </div>
          </div>
          <div class="card border-light">
            <img src="/assets/good_daze_BFF_tee.png" class="card-img-top carheight" alt="...">
            <div class="card-body">
              <p class="card-text text-black text-center">Good Daze BFF Tee</p>
              <p class="card-text text-danger text-center fw-bold">$34.50</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev text-black arrowMargin" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next text-black arrowMarginRight" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>