<div id="carouselExampleControls" class="carousel slide bg-dark" data-bs-ride="carousel" style="height: 500px">
    <div class="carousel-inner text-black carsize">
      <!--first slide-->
      <div class="carousel-item active">
        <div class="card-group" style="height: 300px;">
          <div class="card border-light">
            <img src="/assets/oldskool_shoes_slide1.png" class="card-img-top carheight" alt="...">
            <div class="card-body">
              <h5 class="card-title text-black">Old Skool</h5>
              <p class="card-text text-black">Old Skool</p>
              <p class="card-text"><small class="text-muted"></small></p>
            </div>
          </div>
          <div class="card border-light">
            <img src="/assets/skatehall92_slide1.png" class="card-img-top carheight" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text"></p>
              <p class="card-text"><small class="text-muted"></small></p>
            </div>
          </div>
          <div class="card border-light">
            <img src="/assets/cardshirt_slide1.png" class="card-img-top carheight" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="card border-light">
            <img src="/assets/leggings_slide1.png" class="card-img-top carheight" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text"></p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
      <!--second slide-->
      <div class="carousel-item">
        <div class="card-group" style="height: 300px;">
          <div class="card border-light">
            <img src="/assets/oldskool_shoes_slide1.png" class="card-img-top carheight" alt="...">
            <div class="card-body">
              <h5 class="card-title text-black">Old Skool</h5>
              <p class="card-text text-black">Old Skool</p>
              <p class="card-text"><small class="text-muted"></small></p>
            </div>
          </div>
          <div class="card border-light">
            <img src="/assets/skatehall92_slide1.png" class="card-img-top carheight" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text"></p>
              <p class="card-text"><small class="text-muted"></small></p>
            </div>
          </div>
          <div class="card border-light">
            <img src="/assets/cardshirt_slide1.png" class="card-img-top carheight" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="card border-light">
            <img src="/assets/leggings_slide1.png" class="card-img-top carheight" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text"></p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
      <!--third slide-->
      <div class="carousel-item">
        <div class="card-group" style="height: 300px;">
          <div class="card border-light">
            <img src="/assets/oldskool_shoes_slide1.png" class="card-img-top carheight" alt="...">
            <div class="card-body">
              <h5 class="card-title text-black">Old Skool</h5>
              <p class="card-text text-black">Old Skool</p>
              <p class="card-text"><small class="text-muted"></small></p>
            </div>
          </div>
          <div class="card border-light">
            <img src="/assets/skatehall92_slide1.png" class="card-img-top carheight" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text"></p>
              <p class="card-text"><small class="text-muted"></small></p>
            </div>
          </div>
          <div class="card border-light">
            <img src="/assets/cardshirt_slide1.png" class="card-img-top carheight" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="card border-light">
            <img src="/assets/leggings_slide1.png" class="card-img-top carheight" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text"></p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>