<div class="card border-light bg-dark text-white cardMargin">
    <img src={{img}} class="card-img imgSize">
    <div class="card-img-overlay">
    <br><br>
      <h2 class="card-title text-center fw-bold">{{title}}</h2>
      <ul class="list-unstyled text-center">
      <li><a href="#" class="list-unstyled link-info text-decoration-none fw-bold">{{link1}}</a></li>
      <li><a href="#" class="list-unstyled link-info text-decoration-none fw-bold">{{link2}}</a></li>
      <li><a href="#" class="list-unstyled link-info text-decoration-none fw-bold">{{link3}}</a></li>
      <li><a href="#" class="list-unstyled link-info text-decoration-none fw-bold">{{link4}}</a></li>
      <li><a href="#" class="list-unstyled link-info text-decoration-none fw-bold">{{link5}}</a></li>
      <li><a href="#" class="list-unstyled link-info text-decoration-none fw-bold">{{link6}}</a></li>
      </ul>
    </div>
  </div>