<div class="container margins">
    <div class="row">
            <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">

                <div class="input-group padding sizing margins">
                    <span class="input-group-text">Email</span>
                    <input type="text" class="form-control" placeholder="Email" ngModel name="email" required email>
                </div>

                <div class="input-group margins padding sizing">
                    <span class="input-group-text">Password</span>
                    <input type="password" class="form-control" placeholder="Password" ngModel name="password" required password minlength="8">
                </div>

                <div>
                <button class="btn btn-danger buttonPosition" type="submit" [disabled]="!authForm.valid">
                    Login
                </button>

                <button class="btn btn-danger btn2" type="submit" [disabled]="!authForm.valid">
                    Sign Up
                </button>
                </div>
            </form>
        </div>
    </div>
