
<p class="header margin">Product Type &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -</p>  
<div class="margin">
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label text-info check" for="flexCheckDefault">
      Clothing
    </label>
    (191)
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label text-info check" for="flexCheckDefault">
      Shoes
    </label>
    (149)
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label text-info check" for="flexCheckDefault">
      Accessories
    </label>
    (78)
  </div>
</div>
<p class="text-muted margin">_________________________________</p>
  

<!--second list-->

<p class="header margin">Color &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -</p>  
<div class="margin">
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label text-info check" for="flexCheckDefault">
      Black
    </label>
    (133)
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label text-info check" for="flexCheckDefault">
      Black Outsole
    </label>
    (1)
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label text-info check" for="flexCheckDefault">
      Blue
    </label>
    (53)
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label text-info check" for="flexCheckDefault">
      Brown
    </label>
    (10)
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label text-info check" for="flexCheckDefault">
      Burgundy
    </label>
    (1)
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label text-info check" for="flexCheckDefault">
      Clear
    </label>
    (1)
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label text-info check" for="flexCheckDefault">
      Cream 
    </label>
    (19)
  </div>
</div>
<p class="text-muted margin">_________________________________</p>

<p class="header margin">Collaborations &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -</p>  
<div class="margin">
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label text-info check" for="flexCheckDefault">
    Vans x Crayola
  </label>
  (17)
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label text-info check" for="flexCheckDefault">
    Vans x Sandy Liang
  </label>
  (11)
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label text-info check" for="flexCheckDefault">
    Year of the Tiger
  </label>
  (5)
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label text-info check" for="flexCheckDefault">
    Vans x ASAP Worldwide
  </label>
  (3)
</div>
</div>
<p class="text-muted margin">_________________________________</p>


<p class="header margin">Features &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp; -</p>  
<div class="margin">
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label text-info check" for="flexCheckDefault">
    Laptop Compartment
  </label>
  (6)
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label text-info check" for="flexCheckDefault">
    Moisture Wicking
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label text-info check" for="flexCheckDefault">
    Organization
  </label>
  (5)
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label text-info check" for="flexCheckDefault">
    Water Bottle Pocket 
  </label>
  (5)
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label text-info check" for="flexCheckDefault">
    Anti-Odor 
  </label>
  (2)
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label text-info check" for="flexCheckDefault">
    Ergonomic Shoulder Straps 
  </label>
  (2)
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label text-info check" for="flexCheckDefault">
    Media Pocket 
  </label>
  (2)
</div>
</div>
<p class="text-muted margin">_________________________________</p>



<p class="header margin">Mens Shorts Fit &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -</p>  
<div class="margin">
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label text-info check" for="flexCheckDefault">
    Relaxed Fit
  </label>
  (13)
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label text-info check" for="flexCheckDefault">
    Pull-On
  </label>
  (7)
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label text-info check" for="flexCheckDefault">
    Volley
  </label>
  (7)
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label text-info check" for="flexCheckDefault">
    Loose 
  </label>
  (1)
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label text-info check" for="flexCheckDefault">
    Modern Fit 
  </label>
  (1)
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label text-info check" for="flexCheckDefault">
    Slim Fit
  </label>
  (1)
</div>
</div>
<p class="text-muted margin">_________________________________</p>