<div class="card bg-white text-white border-light">
    <img src="/assets/mens_top_bg.png" class="card-img cardSize" alt="...">
    <div class="card-img-overlay">
      <p class="card-title textFormat1 text-white">DESERT <br> BY DESIGN</p>
      <p class="textFormat2">Prints with a Sahara vibe.</p>
      <a href="#" class="btn btn-light buttonFormat text-black">SHOP NOW</a>
      <div class="card-group groupSize position-absolute end-0 top-0 margin">
        <div class="card bg-transparent cardFormat">
          <img src="/assets/mens_top1.png" class="card-img-top imageFormat" alt="...">
        </div>
        <div class="card bg-transparent cardFormat">
          <img src="/assets/mens_top2.png" class="card-img-top imageFormat" alt="...">
        </div>
        <div class="card bg-transparent cardFormat">
          <img src="/assets/mens_top3.png" class="card-img-top imageFormat" alt="...">
        </div>
      </div>
    </div>
  </div>