
<vans-mensTop></vans-mensTop>

<div class="d-flex flex-row bd-highlight mb-3">
<div class="p-2">
    <vans-mens-categories></vans-mens-categories>
</div>

<div class="p-2">
    <div class="row row-cols-3">
        <div *ngFor="let product of products">
            <div class="col">
                <div>
                    <vans-mens-products img={{product.img}} [price]='product.price' desc1={{product.desc1}} desc2={{product.desc2}} quantity={{product.quantity}}>
                        Loading...
                    </vans-mens-products>
                </div>
            </div>
        </div>
    </div>
</div>
</div>