<vans-topnavbar>
  Loading...
</vans-topnavbar>
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container">
  <a class="navbar-brand" href="#">
    <img src="/assets/logo.png" alt="">
  </a>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Shop <span class="sr-only"></span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Mens
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Womens
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Kids
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="#">MTE <span class="sr-only"></span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="#">Sale <span class="sr-only"></span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Customs
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="#">The Drop List <span class="sr-only"></span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="#">Skateboarding <span class="sr-only"></span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          More
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="input-group rounded">
    <input type="search" class="form-control rounded" placeholder="Search Vans" aria-label="Search" aria-describedby="search-addon"/>
    <span class="input-group-text border-0" id="search-addon">
      <i class="fas fa-search"></i>
    </span>
  </div>

</nav>

<vans-bottomnavbar>
  Loading...
</vans-bottomnavbar>
<nav class="navbar fixed-bottom navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
  </div>
  <ul class="list-unstyled">
    <li class="text-white">Shop</li>
    <li class="text-white">By Category</li>
    <li><a href="#" class="list-unstyled text-info">Shop Home</a></li>
    <li><a href="#" class="list-unstyled text-info">Mens</a></li>
    <li><a href="#" class="list-unstyled text-info">Womens</a></li>
    <li><a href="#" class="list-unstyled text-info">Kids</a></li>
    <li><a href="#" class="list-unstyled text-info">Classics</a></li>
  </ul>
  <ul class="list-unstyled">
    <li class="text-white">Sports</li>
    <li><a href="#" class="list-unstyled text-info">Skateboarding</a></li>
    <li><a href="#" class="list-unstyled text-info">Surf</a></li>
    <li><a href="#" class="list-unstyled text-info">Snow</a></li>
    <li><a href="#" class="list-unstyled text-info">BMX</a></li>
  </ul>
  <ul class="list-unstyled">
    <li class="text-white">Support</li>
    <li><a href="#" class="list-unstyled text-info">FAQs</a></li>
    <li><a href="#" class="list-unstyled text-info">Store Locator</a></li>
    <li><a href="#" class="list-unstyled text-info">Missing Points?</a></li>
    <li><a href="#" class="list-unstyled text-info">Military Discount</a></li>
    <li><a href="#" class="list-unstyled text-info">Do Not Sell My Info</a></li>
    <li><a href="#" class="list-unstyled text-info">Accessibility</a></li>
  </ul>
  <ul class="list-unstyled">
    <li class="text-white">Company</li>
    <li><a href="#" class="list-unstyled text-info">Terms of Use</a></li>
    <li><a href="#" class="list-unstyled text-info">Privacy</a></li>
    <li><a href="#" class="list-unstyled text-info">Careers</a></li>
    <li><a href="#" class="list-unstyled text-info">About</a></li>
    <li><a href="#" class="list-unstyled text-info">CA Supply Chains</a></li>
    <li><a href="#" class="list-unstyled text-info">Act</a></li>
    <li><a href="#" class="list-unstyled text-info">Sustainability</a></li>
    <li><a href="#" class="list-unstyled text-info">Affiliates</a></li>
    <li><a href="#" class="list-unstyled text-info">Recall Info</a></li>
    <li><a href="#" class="list-unstyled text-info">Inclusion and Diversity</a></li>
    <li><a href="#" class="list-unstyled text-info">Unsolicited Materials</a></li>
  </ul>
  <ul class="list-unstyled">
    <li class="text-white">Shop</li>
    <li><a href="#" class="list-unstyled text-info">Contact Us</a></li>
    <li><a href="#" class="list-unstyled text-info">Order Status</a></li>
    <li class="text-white">Address</li>
    <li class="text-muted">1588 South Coast Dr</li>
    <li class="text-muted">Coast Mesa, CA 92626</li>
    <li class="text-muted">Hours</li>
    <li class="text-muted">(Mon - Fri) 6:00am - 4:00pm PST</li>
    <li class="text-muted">(Sat - Sun) 6:30am - 3:00pm PST</li>
  </ul>
</nav>

