<vans-topnavbar>
  Loading...
</vans-topnavbar>
<nav class="navbar navbar-expand-lg navbar-light bg-white mar">
  <div class="container mar" style="margin-left: 100px;">
  <a class="navbar-brand" href="#">
    <img src="/assets/logo.png" alt="" width="150px">
  </a>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link fw-bold text-black" href="#">Shop <span class="sr-only"></span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle fw-bold text-black" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <a class="text-muted fw-light">/</a>
          Mens
        </a>
        <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
        <div class="row">
          <div class="col-sm-6 left">
            <ul class="list-unstyled">
              <li class="text-white">yuh</li>
            </ul>
          </div>
          <div class="col-sm-6 right">
            <ul class="list-unstyled">
              <li class="text-white">yuh</li>
            </ul>
          </div>
        </div>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle fw-bold text-black" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <a class="text-muted fw-light">/</a>
          Womens
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle fw-bold text-black" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <a class="text-muted fw-light">/</a>
          Kids
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>

      <li class="nav-item active">
        <a class="nav-link fw-bold text-black" href="#"> <a class="text-muted fw-light">/</a>MTE <span class="sr-only"></span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link fw-bold text-black" href="#"><a class="text-muted fw-light">/</a>Sale <span class="sr-only"></span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle fw-bold text-black" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <a class="text-muted fw-light">/</a>
          Customs
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>

      <div>
      <li class="nav-item active">
        <a class="nav-link fw-bold text-black text-nowrap" href="#"><a class="text-muted fw-light">/</a>The Drop List <span class="sr-only"></span></a>
      </li>
      </div>

      <li class="nav-item active">
        <a class="nav-link fw-bold text-black" href="#"><a class="text-muted fw-light">/</a>Skateboarding <span class="sr-only"></span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle fw-bold text-black" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <a class="text-muted fw-light">/</a>
          More
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <form class="d-flex" style="margin-right: 100px; width: 600px;">
    <input class="form-control me-2" type="search" placeholder="Search Vans" aria-label="Search">
  </form>

</nav>

<div class="bg-dark text-center fw-bold fs-6">
  <p class ="text-white">NEW ON SALE, UP TO30% OFF. <a class="text-info" href="#"> SHOP NOW</a> | FREE SHIPPING AND RETURNS! <a class="text-info" href="#"> DETAILS</a></p> 
</div>

<vans-bottomnavbar>
  Loading...
</vans-bottomnavbar>
<nav class="navbar fixed-bottom navbar-light bg-dark">
  <div style="margin-left: 150px;">
  <ul class="list-unstyled">
    <li class="text-white fs-2 fw-bold">Shop</li>
    <li class="text-white fw-bold">By Category</li>
    <li><a href="#" class="list-unstyled text-info text-center">Shop Home</a></li>
    <li><a href="#" class="list-unstyled text-info">Mens</a></li>
    <li><a href="#" class="list-unstyled text-info">Womens</a></li>
    <li><a href="#" class="list-unstyled text-info">Kids</a></li>
    <li><a href="#" class="list-unstyled text-info">Classics</a></li>
  </ul>
  </div>
  <ul class="list-unstyled">
    <li class="text-white fs-2 fw-bold">Sports</li>
    <li><a href="#" class="list-unstyled text-info">Skateboarding</a></li>
    <li><a href="#" class="list-unstyled text-info">Surf</a></li>
    <li><a href="#" class="list-unstyled text-info">Snow</a></li>
    <li><a href="#" class="list-unstyled text-info">BMX</a></li>
  </ul>
  <ul class="list-unstyled">
    <li class="text-white fs-2 fw-bold">Support</li>
    <li><a href="#" class="list-unstyled text-info">FAQs</a></li>
    <li><a href="#" class="list-unstyled text-info">Store Locator</a></li>
    <li><a href="#" class="list-unstyled text-info">Missing Points?</a></li>
    <li><a href="#" class="list-unstyled text-info">Military Discount</a></li>
    <li><a href="#" class="list-unstyled text-info">Do Not Sell My Info</a></li>
    <li><a href="#" class="list-unstyled text-info">Accessibility</a></li>
  </ul>
  <ul class="list-unstyled">
    <li class="text-white fs-2 fw-bold">Company</li>
    <li><a href="#" class="list-unstyled text-info">Terms of Use</a></li>
    <li><a href="#" class="list-unstyled text-info">Privacy</a></li>
    <li><a href="#" class="list-unstyled text-info">Careers</a></li>
    <li><a href="#" class="list-unstyled text-info">About</a></li>
    <li><a href="#" class="list-unstyled text-info">CA Supply Chains</a></li>
    <li><a href="#" class="list-unstyled text-info">Act</a></li>
    <li><a href="#" class="list-unstyled text-info">Sustainability</a></li>
    <li><a href="#" class="list-unstyled text-info">Affiliates</a></li>
    <li><a href="#" class="list-unstyled text-info">Recall Info</a></li>
    <li><a href="#" class="list-unstyled text-info">Inclusion and Diversity</a></li>
    <li><a href="#" class="list-unstyled text-info">Unsolicited Materials</a></li>
  </ul>
  <div style="margin-right: 150px;">
  <ul class="list-unstyled">
    <li class="text-white fs-2 fw-bold">Shop</li>
    <br>
    <li><a href="#" class="list-unstyled text-info">Contact Us</a></li>
    <li><a href="#" class="list-unstyled text-info">Order Status</a></li>
    <br>
    <li class="text-white fw-bold">Address</li>
    <li class="text-muted">1588 South Coast Dr</li>
    <li class="text-muted">Coast Mesa, CA 92626</li>
    <br>
    <li class="text-muted fw-bold">Hours</li>
    <li class="text-muted">(Mon - Fri) 6:00am - 4:00pm PST</li>
    <li class="text-muted">(Sat - Sun) 6:30am - 3:00pm PST</li>
  </ul>
  </div>
</nav>

