<vans-topnavbar>
  Loading...
</vans-topnavbar>

<vans-newscards>
  Loading...
</vans-newscards>

<p class="fw-bold fs-1 text-center">SHOP BY</p>
<!--Shop by section -- first row-->
<div class="container-fluid d-flex shopByMargin">
  <div *ngFor="let product of products">
    <vans-shopby1 img={{product.img}} title={{product.title}} link1={{product.link1}} link2={{product.link2}} link3={{product.link3}}
    link4={{product.link4}} link5={{product.link5}} link6={{product.link6}}>
      Loading...
    </vans-shopby1>
    <div>
    <vans-shopby1 img={{product.img}} title={{product.title}} link1={{product.link1}} link2={{product.link2}} link3={{product.link3}}
    link4={{product.link4}} link5={{product.link5}} link6={{product.link6}}>
      Loading...
    </vans-shopby1>
    </div>
  </div>
</div>

<vans-bottomcarousel>
  Loading...
</vans-bottomcarousel>

<vans-bottomnavbar>
  Loading...
</vans-bottomnavbar>




