.groupWidth {
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

.photoFormat {
    margin-right: 100px;
    width: 350px
}

.textFormat {
    text-align: left;
}

.buttonFormat {
    width: 150px;
    height: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.buttonSize {
    width: 150px;
    height: 50px;
}