<p class="text-center fs-5 text-danger">Stay in the know</p>
    <p class="fw-bold fs-1 text-center">LATEST VANS NEWS</p>

<div class="card-group groupWidth">
    <div class="card border-light">
      <img src="/assets/news1.png" class="card-img-top photoFormat" alt="...">
      <div class="card-body">
        <h5 class="card-title textFormat">Vault by Vans x Notre</h5>
        <p class="card-text textFormat">3 Colorways of Cafe Drinks: OG Style 36 LX. Available on 2/3/22</p>
        <br><br>
        <a href="#" class="link-info">READ MORE</a>
      </div>
    </div>
    <div class="card border-light">
      <img src="/assets/news2.png" class="card-img-top photoFormat" alt="...">
      <div class="card-body">
        <h5 class="card-title">Vans Introduces Circle Vee™</h5>
        <p class="card-text">Designed to Create a Better Planet. Available on 2/1/22.</p>
        <br><br>
        <a href="#" class="link-info">READ MORE</a>
      </div>
    </div>
    <div class="card border-light">
      <img src="/assets/news3.png" class="card-img-top photoFormat" alt="...">
      <div class="card-body">
        <h5 class="card-title">Vans Authentic Chino Relaxed Fit Pants</h5>
        <p class="card-text">Comfortable with Freedom of Motion. Available Now.</p>
        <br>
        <a href="#" class="link-info">READ MORE</a>
      </div>
    </div>
    <div class="card border-light">
        <img src="/assets/news4.png" class="card-img-top photoFormat" alt="...">
        <div class="card-body">
          <h5 class="card-title">Channel 66</h5>
          <p class="card-text">Watch Live: Channel 66 is our digital livestream network, broadcasting every weekday from New York, Chicago, Mexico City, and LA.</p>
          <br>
          <a href="#" class="link-info">READ MORE</a>
        </div>
      </div>
  </div>
  <br>

  <div class="buttonFormat"> 
   <button type="button" class="btn btn-dark buttonSize">VIEW MORE</button>   
  </div>

  <br>
  