
<nav class="navbar fixed-bottom navbar-light bg-dark">
    <div style="margin-left: 150px;">
    <!--Beginning of bottom nav bar contents/links-->
    <ul class="list-unstyled">
      <li class="text-white fs-2 fw-bold">Shop</li>
      <li class="text-white fw-bold">By Category</li>
      <li><a href="#" class="list-unstyled text-info text-decoration-none">Shop Home</a></li>
      <li><a href="#" class="list-unstyled text-info text-decoration-none">Mens</a></li>
      <li><a href="#" class="list-unstyled text-info text-decoration-none">Womens</a></li>
      <li><a href="#" class="list-unstyled text-info text-decoration-none">Kids</a></li>
      <li><a href="#" class="list-unstyled text-info text-decoration-none">Classics</a></li>
    </ul>
    </div>
    <ul class="list-unstyled">
      <li class="text-white fs-2 fw-bold">Sports</li>
      <li><a href="#" class="list-unstyled text-info text-decoration-none">Skateboarding</a></li>
      <li><a href="#" class="list-unstyled text-info text-decoration-none">Surf</a></li>
      <li><a href="#" class="list-unstyled text-info text-decoration-none">Snow</a></li>
      <li><a href="#" class="list-unstyled text-info text-decoration-none">BMX</a></li>
    </ul>
    <ul class="list-unstyled">
      <li class="text-white fs-2 fw-bold">Support</li>
      <li><a href="#" class="list-unstyled text-info text-decoration-none">FAQs</a></li>
      <li><a href="#" class="list-unstyled text-info text-decoration-none">Store Locator</a></li>
      <li><a href="#" class="list-unstyled text-info text-decoration-none">Missing Points?</a></li>
      <li><a href="#" class="list-unstyled text-info text-decoration-none">Military Discount</a></li>
      <li><a href="#" class="list-unstyled text-info text-decoration-none">Do Not Sell My Info</a></li>
      <li><a href="#" class="list-unstyled text-info text-decoration-none">Accessibility</a></li>
    </ul>
    <ul class="list-unstyled">
      <li class="text-white fs-2 fw-bold">Company</li>
      <li><a href="#" class="list-unstyled text-info text-decoration-none">Terms of Use</a></li>
      <li><a href="#" class="list-unstyled text-info text-decoration-none">Privacy</a></li>
      <li><a href="#" class="list-unstyled text-info text-decoration-none">Careers</a></li>
      <li><a href="#" class="list-unstyled text-info text-decoration-none">About</a></li>
      <li><a href="#" class="list-unstyled text-info text-decoration-none">CA Supply Chains</a></li>
      <li><a href="#" class="list-unstyled text-info text-decoration-none">Act</a></li>
      <li><a href="#" class="list-unstyled text-info text-decoration-none">Sustainability</a></li>
      <li><a href="#" class="list-unstyled text-info text-decoration-none">Affiliates</a></li>
      <li><a href="#" class="list-unstyled text-info text-decoration-none">Recall Info</a></li>
      <li><a href="#" class="list-unstyled text-info text-decoration-none">Inclusion and Diversity</a></li>
      <li><a href="#" class="list-unstyled text-info text-decoration-none">Unsolicited Materials</a></li>
    </ul>
    <div style="margin-right: 150px;">
    <ul class="list-unstyled">
      <li class="text-white fs-2 fw-bold">Contact</li>
      <br>
      <li><a href="#" class="list-unstyled text-info text-decoration-none">Contact Us</a></li>
      <li><a href="#" class="list-unstyled text-info text-decoration-none">Order Status</a></li>
      <br>
      <li class="text-white fw-bold">Address</li>
      <li class="text-muted">1588 South Coast Dr</li>
      <li class="text-muted">Coast Mesa, CA 92626</li>
      <br>
      <li class="text-muted fw-bold">Hours</li>
      <li class="text-muted">(Mon - Fri) 6:00am - 4:00pm PST</li>
      <li class="text-muted">(Sat - Sun) 6:30am - 3:00pm PST</li>
    </ul>
    </div>
  </nav>