<!--Beginning of top navigation bar-->
<nav class="navbar navbar-expand-lg navbar-light bg-white mar">
    <!--Vans logo-->
    <div class="container mar" style="margin-left: 100px;">
    <a class="navbar-brand" href="#">
      <img src="/assets/logo.png" alt="" width="180px">
    </a>
    </div>
  
    <!--Beginning of dropdown/links in nav bar-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link fw-bold text-black" href="#">Shop <span class="sr-only"></span></a>
        </li>
  
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fw-bold text-black" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <a class="text-muted fw-light">/</a>
            Mens
          </a>
          <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
            <div class="d-flex flex-nowrap">
              <ul class="list-unstyled order-2 p-2 bd-highlight">
                <li class="text-white fw-bold text-nowrap ">FEATURED</li><br>
                <li><a href="#" class="list-unstyled link-info text-decoration-none fw-bold text-nowrap">NEW ARRIVALS</a></li><br>
                <li><a href="#" class="list-unstyled link-info text-decoration-none fw-bold text-nowrap">CUSTOMS</a></li><br>
                <li><a href="#" class="list-unstyled link-info text-decoration-none fw-bold text-nowrap">ALL WEATHER MTE</a></li><br>
                <li><a href="#" class="list-unstyled link-info text-decoration-none fw-bold text-nowrap">SNOWBOARD BOOT GUIDE</a></li><br>
                <li><a href="#" class="list-unstyled link-info text-decoration-none fw-bold text-nowrap">PANT GUIDE</a></li><br>
                <li><a href="#" class="list-unstyled link-info text-decoration-none fw-bold text-nowrap">VANS X SANDY LIANG</a></li><br>
                <li><a href="#" class="list-unstyled link-info text-decoration-none fw-bold text-nowrap">MEN'S SALE</a></li><br>
              </ul>
              <ul class="list-unstyled order-3 p-2 bd-highlight">
                <li class="text-white fw-bold">SHOES</li><br>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">SHOP NEW ARRIVALS</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">SHOP BY STYLE</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Classics</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Skateboarding</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Surf & Sandals</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">BMX</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Sale</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none fw-bold text-nowrap">SHOP ALL SHOES</a></li>
              </ul>
              <ul class="list-unstyled order-4 p-2 bd-highlight">
                <li class="text-white fw-bold"> CLOTHING</li><br>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">SHOP NEW ARRIVALS</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">T-Shirts & Tanks</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Shirts & Flannels</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Hoodies & Jackets</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Shorts & Boardshorts</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Pants & Sweatpants</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Sale</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap fw-bold">SHOP ALL CLOTHING</a></li>
              </ul>
              <ul class="list-unstyled order-5 p-2 bd-highlight">
                <li class="text-white fw-bold"> ACCESSORIES </li><br>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">SHOP NEW ARRIVALS</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Hats & Beanies</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Bags & Backpacks</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Socks</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Sunglasses</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Keychains & Stickers</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Wallets & Belts</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Laces & Shoecare</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Sale</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap fw-bold">SHOP ALL ACCESSORIES</a></li>
              </ul>
              <div class="position-absolute bottom-0 start-0 text-nowrap">
                <p class ="text-white">NEW ON SALE, UP TO 30% OFF. <a class="link-info text-decoration-none" href="#"> SHOP NOW</a> | FREE SHIPPING AND RETURNS! <a class="link-info text-decoration-none" href="#"> DETAILS</a></p> 
              </div>
              </div>
          </ul>
        </li>
  
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fw-bold text-black" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <a class="text-muted fw-light">/</a>
            Womens
          </a>
          <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
            <div class="d-flex flex-nowrap">
              <ul class="list-unstyled order-2 p-2 bd-highlight">
                <li class="text-white fw-bold text-nowrap ">FEATURED</li><br>
                <li><a href="#" class="list-unstyled link-info text-decoration-none fw-bold text-nowrap">NEW ARRIVALS</a></li><br>
                <li><a href="#" class="list-unstyled link-info text-decoration-none fw-bold text-nowrap">CUSTOMS</a></li><br>
                <li><a href="#" class="list-unstyled link-info text-decoration-none fw-bold text-nowrap">ALL WEATHER MTE</a></li><br>
                <li><a href="#" class="list-unstyled link-info text-decoration-none fw-bold text-nowrap">SNOWBOARD BOOT GUIDE</a></li><br>
                <li><a href="#" class="list-unstyled link-info text-decoration-none fw-bold text-nowrap">VANS X SANDY LIANG</a></li><br>
                <li><a href="#" class="list-unstyled link-info text-decoration-none fw-bold text-nowrap">WOMEN'S SALE</a></li><br>
              </ul>
              <ul class="list-unstyled order-3 p-2 bd-highlight">
                <li class="text-white fw-bold">SHOES</li><br>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">SHOP NEW ARRIVALS</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">SHOP BY STYLE</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Classics</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Skateboarding</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Surf & Sandals</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Sale</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none fw-bold text-nowrap">SHOP ALL SHOES</a></li>
              </ul>
              <ul class="list-unstyled order-4 p-2 bd-highlight">
                <li class="text-white fw-bold"> CLOTHING</li><br>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">SHOP NEW ARRIVALS</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">T-Shirts & Tanks</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Tops & Flannels</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Hoodies & Jackets</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Shorts</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Pants & Sweatpants</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Dresses</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Sale</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap fw-bold">SHOP ALL CLOTHING</a></li>
              </ul>
              <ul class="list-unstyled order-5 p-2 bd-highlight">
                <li class="text-white fw-bold"> ACCESSORIES </li><br>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">SHOP NEW ARRIVALS</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Hats & Beanies</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Bags & Backpacks</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Socks</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Sunglasses</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Keychains & Stickers</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Laces & Shoecare</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Sale</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap fw-bold">SHOP ALL ACCESSORIES</a></li>
              </ul>
              <div class="position-absolute bottom-0 end-0 text-nowrap">
                <p class ="text-white">NEW ON SALE, UP TO 30% OFF. <a class="link-info text-decoration-none" href="#"> SHOP NOW</a> | FREE SHIPPING AND RETURNS! <a class="link-info text-decoration-none" href="#"> DETAILS</a></p> 
              </div>
              </div>
          </ul>
        </li>
  
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fw-bold text-black" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <a class="text-muted fw-light">/</a>
            Kids
          </a>
          <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
            <div class="d-flex flex-nowrap">
              <ul class="list-unstyled order-2 p-2 bd-highlight">
                <li class="text-white fw-bold text-nowrap ">FEATURED</li><br>
                <li><a href="#" class="list-unstyled link-info text-decoration-none fw-bold text-nowrap">NEW ARRIVALS</a></li><br>
                <li><a href="#" class="list-unstyled link-info text-decoration-none fw-bold text-nowrap">CUSTOMS</a></li><br>
                <li><a href="#" class="list-unstyled link-info text-decoration-none fw-bold text-nowrap">ALL WEATHER MTE</a></li><br>
                <li><a href="#" class="list-unstyled link-info text-decoration-none fw-bold text-nowrap">COMFYCUSH</a></li><br>
                <li><a href="#" class="list-unstyled link-info text-decoration-none fw-bold text-nowrap">BACKPACK GUIDE</a></li><br>
                <li><a href="#" class="list-unstyled link-info text-decoration-none fw-bold text-nowrap">KIDS SALE</a></li><br>
              </ul>
              <ul class="list-unstyled order-3 p-2 bd-highlight">
                <li class="text-white fw-bold">SHOES</li><br>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">SHOP NEW ARRIVALS</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">SHOP BY STYLE</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Kids (5-10 years)</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Toddler (1-4 years)</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Infant (0-1 year)</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Sale</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none fw-bold text-nowrap">SHOP ALL SHOES</a></li>
              </ul>
              <ul class="list-unstyled order-4 p-2 bd-highlight">
                <li class="text-white fw-bold"> CLOTHING</li><br>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">SHOP NEW ARRIVALS</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Kids (8-14 years)</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Little Kids (2-7 years)</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Sale</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap fw-bold">SHOP ALL CLOTHING</a></li>
              </ul>
              <ul class="list-unstyled order-5 p-2 bd-highlight">
                <li class="text-white fw-bold"> ACCESSORIES </li><br>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">SHOP NEW ARRIVALS</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Hats & Beanies</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Backpacks</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Socks</a></li>
                <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap fw-bold">SHOP ALL ACCESSORIES</a></li>
              </ul>
              <div class="position-absolute bottom-0 end-0 text-nowrap">
                <p class ="text-white">NEW ON SALE, UP TO 30% OFF. <a class="link-info text-decoration-none" href="#"> SHOP NOW</a> | FREE SHIPPING AND RETURNS! <a class="link-info text-decoration-none" href="#"> DETAILS</a></p> 
              </div>
              </div>
          </ul>
        </li>
  
        <li class="nav-item active">
          <a class="nav-link fw-bold text-black" href="#"> <a class="text-muted fw-light">/</a>MTE <span class="sr-only"></span></a>
        </li>
  
        <li class="nav-item active">
          <a class="nav-link fw-bold text-black" href="#"><a class="text-muted fw-light">/</a>Sale <span class="sr-only"></span></a>
        </li>
  
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fw-bold text-black button" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <a class="text-muted fw-light button">/</a>
            Customs
          </a>
          <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
            <div class="d-flex flex-nowrap">
                <ul class="list-unstyled order-2 p-2 bd-highlight">
                  <li class="text-white fw-bold text-nowrap ">CREATIVE TOOLS</li><br>
                  <li><a href="#" class="list-unstyled link-info text-decoration-none fw-bold text-nowrap">ADD YOUR IMAGE TO A SHOE</a></li><br>
                  <li><a href="#" class="list-unstyled link-info text-decoration-none fw-bold text-nowrap">DESIGN YOUR OWN <br> CHECKERBOARD</a></li><br>
                  <li><a href="#" class="list-unstyled link-info text-decoration-none fw-bold text-nowrap">DESIGN A SHOE FOR ME</a></li><br>
                  <li><a href="#" class="list-unstyled link-info text-decoration-none fw-bold text-nowrap">DESIGN A BACKPACK FOR ME</a></li><br>
                  <li><a href="#" class="list-unstyled link-info text-decoration-none fw-bold text-nowrap">MAKE YOUR OWN PATTERN</a></li><br>
                  <li><a href="#" class="list-unstyled link-info text-decoration-none fw-bold text-nowrap">CHECKERFY YOUR IMAGE</a></li><br>
                </ul>
                <ul class="list-unstyled order-3 p-2 bd-highlight">
                  <li class="text-white fw-bold"> CUSTOMIZE SHOES</li><br>
                  <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Customize a Slip-On</a></li>
                  <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Customize an Old Skool</a></li>
                  <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Customize a Sk8-Hi</a></li>
                  <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Customize an Authentic</a></li>
                  <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Customize an Era</a></li>
                  <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Customize a WAYVEE</a></li>
                  <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Customize a EVDNT</a></li>
                  <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Customize an UltraRange</a></li>
                  <li><a href="#" class="list-unstyled link-info text-decoration-none fw-bold text-nowrap">SHOP ALL CUSTOMIZE SHOES</a></li>
                </ul>
                <ul class="list-unstyled order-4 p-2 bd-highlight">
                  <li class="text-white fw-bold"> CUSTOMS INSPIRATION</li><br>
                  <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Customs MTE</a></li>
                  <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Vans X Horror</a></li>
                  <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Customs Zodiac</a></li>
                  <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Design Inspiration</a></li>
                  <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Wides</a></li>
                  <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Checkerboard Inspiration</a></li>
                  <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Customs Skateboarding</a></li>
                  <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap">Customs Cow Print</a></li>
                  <li><a href="#" class="list-unstyled link-info text-decoration-none text-nowrap fw-bold">SHOP ALL CUSTOMS <br> INSPIRATION</a></li>
                </ul>
                <div class="position-absolute bottom-0 end-0">
                  <p class ="text-white">NEW ON SALE, UP TO 30% OFF. <a class="link-info text-decoration-none" href="#"> SHOP NOW</a> | FREE SHIPPING AND RETURNS! <a class="link-info text-decoration-none" href="#"> DETAILS</a></p> 
                </div>
                </div>
          </ul>
        </li>
  
        <div>
        <li class="nav-item active">
          <a class="nav-link fw-bold text-black text-nowrap" href="#"><a class="text-muted fw-light">/</a>The Drop List <span class="sr-only"></span></a>
        </li>
        </div>
  
        <li class="nav-item active">
          <a class="nav-link fw-bold text-black" href="#"><a class="text-muted fw-light">/</a>Skateboarding <span class="sr-only"></span></a>
        </li>
  
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fw-bold text-black" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <a class="text-muted fw-light">/</a>
            More
          </a>
          <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
            <div class="d-flex flex-nowrap">
                <ul class="list-unstyled order-2 p-2 bd-highlight">
                  <li class="text-white fw-bold text-nowrap ">ON VANS.COM</li>
                  <li><a href="#" class="list-unstyled link-info text-decoration-none">News</a></li>
                  <li><a href="#" class="list-unstyled link-info text-decoration-none">Skateboarding</a></li>
                  <li><a href="#" class="list-unstyled link-info text-decoration-none">Surf</a></li>
                  <li><a href="#" class="list-unstyled link-info text-decoration-none">BMX</a></li>
                  <li><a href="#" class="list-unstyled link-info text-decoration-none">Snow</a></li>
                  <li><a href="#" class="list-unstyled link-info text-decoration-none">Classics</a></li>
                  <li><a href="#" class="list-unstyled link-info text-decoration-none">Music</a></li>
                  <li><a href="#" class="list-unstyled link-info text-decoration-none">Channel 66</a></li>
                  <li><a href="#" class="list-unstyled link-info text-nowrap text-decoration-none">This Is Off The Wall</a></li>
                  <li><a href="#" class="list-unstyled link-info text-decoration-none">Vault</a></li>
                  <li><a href="#" class="list-unstyled link-info text-decoration-none">The General</a></li>
                  <li><a href="#" class="list-unstyled link-info text-decoration-none">Team</a></li>
                  <li><a href="#" class="list-unstyled link-info text-decoration-none">House of Vans</a></li>
                  <li><a href="#" class="list-unstyled link-info text-decoration-none">Orange Skatepark</a></li>
                  <li><a href="#" class="list-unstyled link-info text-decoration-none">HB Skatepark</a></li>
                  <li><a href="#" class="list-unstyled link-info text-decoration-none">Events</a></li>
                </ul>
                <ul class="list-unstyled order-3 p-2 bd-highlight">
                  <li class="text-white fw-bold"> ELSEWHERE</li>
                  <li><a href="#" class="list-unstyled link-info text-decoration-none">Vans Park Series</a></li>
                  <li><a href="#" class="list-unstyled link-info text-decoration-none">Vans BMX Pro Cup</a></li>
                  <li><a href="#" class="list-unstyled link-info text-decoration-none">Video</a></li>
                  <li><a href="#" class="list-unstyled link-info text-decoration-none">Arts</a></li>
                </ul>
                </div>
          </ul>
        </li>
      </ul>
    </div>
  
    <!--Search Bar-->
    <form class="d-flex" style="margin-right: 100px; width: 600px; height: fit;">
      <input class="form-control me-2" type="search" placeholder="Search Vans" aria-label="Search" style="padding: 2px;">
    </form>
  
    <!--Extra links at top of nav bar-->
    <div class="bg-white text-end fs-6 position-absolute top-0 end-0" style="margin-right: 100px">
      <p class ="text-muted">
        <a class="link-secondary text-decoration-none" href="#"> Career Opportunities?</a>&nbsp;&nbsp;
        <svg class="bi" width="18" height="18" fill="currentColor">
          <use xlink:href="/assets/bootstrap-icons.svg#question-circle"/>
        </svg>
        <a class="link-secondary text-decoration-none" href="#"> Order Status</a>&nbsp;&nbsp;
        <svg class="bi" width="18" height="18" fill="currentColor">
          <use xlink:href="/assets/bootstrap-icons.svg#geo-alt"/>
        </svg>
        <a class="link-secondary text-decoration-none" href="#"> Find Store</a>&nbsp;&nbsp;
        <svg class="bi" width="18" height="18" fill="currentColor">
          <use xlink:href="/assets/bootstrap-icons.svg#gift"/>
        </svg>
        <a class="link-secondary text-decoration-none" href="#"> Gift Card</a>&nbsp;&nbsp;
        <svg class="bi" width="18" height="18" fill="currentColor">
          <use xlink:href="/assets/bootstrap-icons.svg#chat-fill"/>
        </svg>
        <a class="link-secondary text-decoration-none" href="#"> Chat</a>&nbsp;&nbsp;
        <svg class="bi" width="18" height="18" fill="currentColor">
          <use xlink:href="/assets/bootstrap-icons.svg#heart"/>
        </svg>
        <a class="link-secondary text-decoration-none" href="#">Favorites (0)</a>&nbsp;&nbsp;
        <svg class="bi" width="18" height="18" fill="currentColor">
          <use xlink:href="/assets/bootstrap-icons.svg#person-fill"/>
        </svg>
        <a class="link-secondary text-decoration-none" href="#">Sign In/Join Vans Family</a>&nbsp;&nbsp;
        <svg class="bi" width="18" height="18" fill="currentColor">
          <use xlink:href="/assets/bootstrap-icons.svg#cart4"/>
        </svg>
        <a class="link-secondary text-decoration-none" href="#">Cart (0)</a>&nbsp;&nbsp;
      </p> 
    </div>
  </nav>
  
  <!--Promo bar at bottom of nar bar-->
  <div class="bg-dark text-center fw-bold fs-6">
    <p class ="text-white">NEW ON SALE, UP TO 30% OFF. <a class="link-info text-decoration-none" href="#"> SHOP NOW</a> | FREE SHIPPING AND RETURNS! <a class="link-info text-decoration-none" href="#"> DETAILS</a></p> 
  </div>