<div class="card cardSize margin">
    <img src={{img}} class="card-img-top imgSize" alt="...">
    <div class="card-body">
        <svg class="bi" width="18" height="18" fill="currentColor">
            <use xlink:href="/assets/bootstrap-icons.svg#star"/>
        </svg>
        <svg class="bi" width="18" height="18" fill="currentColor">
            <use xlink:href="/assets/bootstrap-icons.svg#star"/>
        </svg>
        <svg class="bi" width="18" height="18" fill="currentColor">
            <use xlink:href="/assets/bootstrap-icons.svg#star"/>
        </svg>
        <svg class="bi" width="18" height="18" fill="currentColor">
            <use xlink:href="/assets/bootstrap-icons.svg#star"/>
        </svg>
        <svg class="bi" width="18" height="18" fill="currentColor">
            <use xlink:href="/assets/bootstrap-icons.svg#star"/>
        </svg>
        ({{quantity}})
        <svg class="bi heart" width="18" height="18" fill="red">
            <use xlink:href="/assets/bootstrap-icons.svg#heart"/>
        </svg>
        <div class="spacing">
            <br>
            <p class="card-text textFormat1 text-danger">{{desc1}}</p>
            <p>{{desc2}}</p>
            <p class="text-danger textFormat2">${{price}}.00</p>
            <p class="link-info ">More Colors</p>
      </div>
    </div>
  </div>